.dropdown-container{
    border: 1px solid red !important;
    width: 200px;
    height: 300px;
}

.dropdown-select-container{
    border: none;
}

.select-option{

}
.select-option:hover{
    background-color: red;
    color: red !important;

}